<!DOCTYPE html>
<html>
<head>
	<title>User Profile Page</title>
</head>
<body>
<div class="container">
	<div class="row">
		<div id="welcomeUser" class="col s12 m12 l6 border">
			<h1>Welcome USER_ID!</h1>
		</div>
		<div id="upcomingEvents" class="col s12 m12 l6 border">
			<h3>Here are your upcoming events</h3>
		</div>
	</div>
	<div class="row">
		<div id="eventsImg1" class="col s12 m6 l4 border">EVENT1</div>
		<div id="eventsImg2" class="col s12 m6 l4 border">EVENT2</div>
		<div id="userCalendar" class="col s12 m12 l4 border">Calendar</div>
	</div>
</div>
</body>
</html>