<div class='imgcontainer'>
	<div class='row'>
		<div class='col s2 offset-s10' id='login'>
			<%=link_to "Log In", new_user_session_path, :class => 'btn-large cyan lighten-1'%>
		</div>
		<div class='col s6 offset-s3 splash center-align'>
			<p id='splashText'>Keytar everyday carry kombucha man bun, wayfarers fam crucifix hell of shaman 8-bit mustache plaid retro. Pour-over bitters gluten-free echo park hoodie banjo cred hashtag XOXO. Truffaut craft beer street art, pug beard ennui vexillologist activated charcoal taxidermy marfa locavore selfies celiac butcher shaman. Kale chips crucifix whatever, YOLO hashtag sriracha hella offal gastropub. Asymmetrical tousled fam kombucha irony etsy lo-fi..</p>
			<br>
			<%=link_to "Sign Up Now", new_user_registration_path, :class => 'waves-effect waves-light btn-large cyan lighten-1 center-align' %>
		</div>
	</div>
</div>