<div class='row'>
	<div class="col s12 m12 l12 left-align ">
		<h3 id='welcome'>Find a Project</h3>	
</div>
<div class="row">
		<a class='dropdown-button btn' href='#' data-activates='dropdown3'>Drop Me!</a>
		<div class="button-group filter-button-group ">
		  <button class='btn-large cyan lighten-1' data-filter="*">show all</button>
		  <button class='btn-large cyan lighten-1' data-filter=".yours">Your Events</button>
		  <button id='volbtn' class='btn-large cyan lighten-1' data-filter=".volunteer">Volunteering</button>
		  
		</div>
	</div>