<div class='row'>
	<div class="col s12 m12 l12 left-align ">
		<h3 id='welcome'>Create a Project</h3>	
	</div>
	<div class="row">
		<a class='dropdown-button btn' href='#' data-activates='dropdown3'>Drop Me!</a>
		<div class="button-group filter-button-group ">
		  <button class='btn-large cyan lighten-1' data-filter="*">show all</button>
		  <button class='btn-large cyan lighten-1' data-filter=".yours">Your Events</button>
		  <button id='volbtn' class='btn-large cyan lighten-1' data-filter=".volunteer">Volunteering</button>
		</div>
	</div>
</div>

	<div class="row">
		<div class="col s12 m6 l8">
			<h5>Enter the location of your project by neighborhood, address or park: </h5>

			<!-- form to enter location -->
			<form id="location-form">
				<input type="text" id="location-input" name="locationInput">
				<br>
				<button type="submit">Submit</button>
			</form>

			<!-- google map -->
			<div id='map'></div>

		</div>


<!-- div for lat+lng -->



		<!-- right side of page -->
		<div class="col s12 m6 l4 border">Enter the project details!!</div>
		
	</div>