$primary-yellow: #FCDD05; 
$accent:  #2EC2DD;
$dark-grey: #585a5d;
$white: #e9eaea;
$light-grey: #aebaa5;

@font-face{
	font-family: 'Comfortaa';
	src:font-url("Comfortaa.ttf");
}

.border{
	border: 2px solid black;
	background-color: $primary-yellow;
}

.navlink{
	color: $dark-grey;
}
.imgcontainer{
	background-image: image-url('becky2.png');
	width:100%;
	background-size:cover; 
	background-repeat:no-repeat;
	background-attachment:fixed;
	height:89vh;
}
.splashLogo{
	margin-left:2%;
	width:87%;
}
#splashText{
	color: $white;
	font-size: 1.2em;
	font-family: 'Comfortaa';
	line-height:24px;
}
#login{
	
	a{
		margin-top:10%;
		width:70%;
	}
}
nav{
	color:$white;
	li{

	a{
		color:$white;
	}
}
ul{
	li{
		a{
			color:$white;
		}
	}
}

a:visited{
	color:$white;
}
}
#createbackground{
	background-color:$white;
	height:100vh;
}
#backgroundimage{
	background-image: image-url('henry.jpg');
	margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    left:0;
    right:0;
    bottom:0;
    background-size:cover;
    z-index: -100;
    height:60%;
}
#upcomingEvents, #welcome{
	color:$white;
}
#top{
	margin-top: 5%;
	margin-bottom:5%;
}
#cards{
	margin-top:5%;
}
.btn-large{
	margin-left:2%;
}
@media(max-width:600px){
	#signupform, #newsession{
		margin-top: 40%;
	}
	#volbtn{
		margin-top:5%;
	}
}
#dropdown3{
	.dropdowncontent{
		width:100%;	
	}
	
	button{
		color:#000000;	
	}
	
}
#dropdownbtn{
	margin-left:8%;
}
#find{
	margin-left:5%;
	margin-top:8%;
	color: $white;
}
#drphood{
	margin-bottom:2%;
}
#deets{
	background-color:rgba(233,234,234, 0.7);
	border-radius: 5px;
}
#projectbackground{
	background-image: image-url('james.jpg');
	margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    left:0;
    right:0;
    bottom:0;
    background-size:cover;
    z-index: -100;
}
#nav2{
	position:sticky;
	li{
		a{
			color:black;
		}
	}
}
select{
	display: block !important;
}
#create{
	position:fixed;
	margin-left:4%;
	margin-top:4%;
	color:$dark-grey;
}
.dynamic{
	.card{
		 height: 56vh;
			.card-content{
				p{
					word-wrap: break-word;
				}	
			}
			.card-action{
				   
			}
	}
	
	
}