// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#map{
	width: 70%;
	height: 500px;
	overflow: scroll;
	margin-left:15%;
}